
.app-wrapper {
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  gap: 0.7rem;
  min-height: 100%;

}
.sidebar-wrapper {
  grid-area: n;
  background-color:#e3e2df;
}

.content-wrapper {
  grid-area: c;
  background-color: #e3e2df;
}
